---
layout: default
---
<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

  <div class="post-content">

    {{ content }}

    {% if page.topic-type == 'game' %}
      {% for game_info in site.data.game.info %}
        <ul><h4 class="post-sub-title">{{ game_info.title }}</h4>
          <li>Title : {{ game_info.title }}</li>
          <li>Developer : {{ game_info.developer }}</li>
          <li>Publisher : {{ game_info.publisher }}</li>
          <li>Release Date : {{ game_info.release_date }}</li>
        </ul>
      {% endfor %}
    {% endif %}
  </div>

</article>
